<div class="well sidebar-nav">    
    <ul class="nav nav-list">
      <li class="nav-header">Catálogos</li>
      <li><%= link_to "Administradores", management_administrators_path %></li>
      <li><%= link_to "Asignación de pesos", assignments_path %></li>
      <li><%= link_to "Atributos", attributes_path %></li>
      <li><%= link_to "Conceptos", concepts_path %></li>
      <li><%= link_to "Diagramas", diagrams_path %></li>
      <li><%= link_to "Programadores", management_programmers_path %></li>
      <li><%= link_to "Secciones", sections_path %></li>
      <li><%= link_to "Sistemas", systems_path %></li>
      <li><%= link_to "Subsistemas", subsystems_path %></li>
      <li><%= link_to "Tipos de sistema", system_types_path %></li>     
    </ul>
</div>