<%= form_for(@system, :html => {:class => "form-horizontal"} ) do |f| %>
  <% if @system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system.errors.count, "error") %> prohibited this system from being saved:</h2>

      <ul>
      <% @system.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
   <div class="control-group">
     <%= f.label :name, { :class => "control-label" } %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
   </div>
  
   <div class="control-group">
     <%= f.label :description,  { :class => "control-label" } %>
    <div class="controls">
      <%= f.text_area :description, :cols => "20", :rows => "5" %>
    </div>
  </div>
  
  <div class="control-group">
     <%= f.label :system_type_id, { :class => "control-label" } %>
    <div class="controls">
      <%= 
          system_types = SystemType.order(:name).all.map{ |u| [u.name, u.id] }
          f.select(:system_type_id, system_types, { :include_blank => true })
       %>
    </div>
  </div>
  
  <div class="form-actions">
     <%= f.submit "Guardar", :class => 'btn btn-primary' %> <%= link_to('Cancelar', sections_path, { :class => "btn" }) %>
  </div>
</fieldset>
<% end %>
