<% content_for :title, "Catálogos" %> 

<div class="row-fluid">
  <div class="page-header">
          <h1><%= @system.name %></h1>
  </div>

  <p>
    <b>Descripción:</b>
    <%= @system.description %>
  </p>

 
   <p>
    <b>Tipo de sistema:</b>
    <%= SystemType.find(@system.system_type_id).name%>
  </p>
  
   <p>
    <b>Creación:</b>
    <%= l @system.created_at, :format => :date_time %>
  </p>

  <p>
    <b>Última actualización:</b>
    <%= l @system.updated_at, :format => :date_time %>
  </p>	

  <div class="form-actions">
    <%= link_to 'Editar', edit_system_path(@system), { :class => "btn btn-primary" } %> 
    <%= link_to 'Añadir subsistema', new_subsystem_path, { :class => "btn" }  %>
  </div>
</div>

